<div class="apply-bootstrap archiveEmail" id="attachemailtocrm">
    <div id="attachemailtovtiger" ng-controller="AttachEmailController" ng-really-click="attachEmail('<%= emailIdentifier%>')" ng-really-message="Do you want to save this email to Repbox?" ng-init="fromemail = '<%= email%>';fromname = '<%= name%>';emailidentifier = '<%= emailIdentifier%>'" title="Archive email">
        <a class="attachemailbutton">
            <img class="attachemailimg" role="button" src="<%= baseresourceurl%>assets/images/vtiger16.png" alt="">
        </a>
    </div>
</div>